@font-face {
    font-family: 'hk_groteskbold';
    src: url('../webfonts/hkgrotesk-bold.woff2') format('woff2'),
         url('../webfonts/hkgrotesk-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hk_groteskmedium';
    src: url('../webfonts/hkgrotesk-medium.woff2') format('woff2'),
         url('../webfonts/hkgrotesk-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskbold_legacy';
    src: url('../webfonts/hkgrotesk-boldlegacy.woff2') format('woff2'),
         url('../webfonts/hkgrotesk-boldlegacy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hk_grotesklight_legacy';
    src: url('../webfonts/hkgrotesk-lightlegacy.woff2') format('woff2'),
         url('../webfonts/hkgrotesk-lightlegacy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Custom Classes*/

span#clockDiv {
    background: #69df74;
    padding: 3px 12px;
    color: #fff;
}
h5.cartProductTitle a {
    color: #000;
}
.cartTotalContainer {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.ticketList {
    padding-right: 40px;
    padding-left:20px;
}
p.priceContainer {
    text-align: right;
}
.ticketList .row {
    margin-bottom: -20px;
}
input#ticket {
    background: #f1f1f1;
    border: none;
    padding: 0px;
    width: 10%;
}
.GreenButton{
    background-color:#2ade73;
    color:#fff;
}
.GreenButton:hover{
    color:#fff;
}
button.cartBtn {
    color: #fff;
    background-color: #2ade73;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}
.card-body.varify {
    padding: 50px;
    border: 3px solid#2ade73;
    border-radius: 3px;
}
.padd0 {padding:0px;}
div#fcheck {
    margin-left: -19px;
}
.buttonWithMTop{margin-top:-5px;}
video{width:100%}
.form-check{padding-left:5px;}
.link-container {
    margin-top: -5px;
    margin-bottom: 25px;
}
a.forget-link {
    color: #191919;
    font-family:'hk_groteskmedium';
    letter-spacing: .5px;
}
.create-raffle select {
    width: 100%;
    border: 2px solid #2ade73;
    padding: 10px 20px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 30px;
    background: transparent;
}
.round {
    width: 40px;
    height: 40px;
    padding: 0px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
}
.hidden{display:none}
.text-white{color:#fff}
.text-black{color:#000}
.red{background:#f44336}
.blue{background:#0277bd}
.orange{background:#f57c00}
.yellow{background:#ffeb3b}
.light-green{background:#4caf50}
.height20px{height:20px}
div#ticket_price_form span.input-group-btn {
    display: inline-block;
}
.errors {
    color: red;
    font-size: 13px;
    position: relative;
    top: -15px;
}
/*Checkbox Css*/
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  text-align: justify;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border:2px solid #2ade73;
  transition: all .2s ease-in;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #2ade73;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2ade73;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*End of checkbox css*/
/*Next Model*/
.nextBtn{
    width: 100%;
    background-color: #2ade73;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align:center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s ease;
    z-index: -1;
}

.overlay.active {
    opacity: 1;
    z-index: 2;
    z-index:9999;
} 
.overlay-scroll {
    height: 300px;
    overflow-y: scroll;
}
.nextModal {
    padding: 20px 30px;
    position: fixed;
    top: 14%;
    width:60%;
    left:20%;
    color:#000;
    background: #fff;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    max-height: 500px;
    border-radius: 5px;	
}

.nextModal h3 {
    margin: 0;
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid #DDE0E7;
    text-align: center;
}

.nextModal p {
    padding: 1rem;
}

.nextModal.active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}
.closeBtn{
    background-color: #2ade73;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}
.nextModal.active .checkbox-container {
    margin-top: 20px;
}
.overlay-scroll ::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background-color:#F5F5F5;}
.overlay-scroll::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
.overlay-scroll::-webkit-scrollbar-thumb{border-radius:10px;background-color:#2ade73;}
/*Next Model*/

div#ticket_price_form span.input-group-btn {
    display: inline-block;
}

.price-btn-ticket input {
    width: inherit;
}

.price-btn-ticket {
    display: inline-block;
}

#ticket_price_form label {
    width: 100%;
}
/*custom css ends */
body{
	font-family: 'hk_groteskmedium';
	letter-spacing: 1px;
	color:#191919;
}
*:focus {
    outline: 0;
}
button:focus,button:active{
	outline:0 !important;
	box-shadow:none !important;
}
a:hover{text-decoration:none;}
img{max-width:100%;}
header {
    width: 100%;
    margin-top: 5em;
}
p {
    line-height: 30px;
}
.home header {
    display: inherit;
    width: auto;
    margin-top: 0em;
}
.navbar-nav li.nav-item .nav-link {
    color: #fff;
    margin: 0px 15px;
}
.navbar-nav li.nav-item .nav-link:hover {
    color: #2ade73;
}
li.nav-item {margin-top: 4px;}

li.nav-item.green-btn {
    margin-top: 0px;
}
.navbar-nav li.nav-item.green-btn .nav-link {
    background-color: #2ade73;
    border-radius: 3px;
    padding: 10px 10px;
}
nav.navbar.navbar-expand-md.navbar-dark.fixed-top {
    background-color: #191919;
}
.home nav.navbar.navbar-expand-md.navbar-dark.fixed-top {
    background-color: transparent;
}
.navbar img {
    width: 160px;
    margin-left:10px;
}
.navbar-nav li.nav-item.green-btn .nav-link:hover {
    color: white;
}
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.scrolled {
    background-color: #191919;
}
li.social-icon a {
    color: #fff;
    margin: 7px 10px;
    display: inline-block;
    font-size: 21px;
}
li.social-icon:hover a {
    color: #2ade73;
}
ul.sub-menu {
    position: absolute;
    padding: 0;
    display: none;
    background-color: #191919;
    padding: 5px 0px;
    list-style: none;
}
.nav .dropdown-menu {
    background-color: #191919;
    border-radius: 0px;
    min-width: 100%;
}
.dropdown a#navbarDropdown {
    margin-right: 0px;
}
.nav .dropdown-menu a {
    color: #fff;
    text-align: center;
}

.nav .dropdown-menu a:hover {
    background-color: #191919;
    color: #fff;
}
.dropdown_menu:hover .sub-menu {
    display: block;
}

ul.sub-menu li a {
    border-bottom: 1px solid #5f5f5f;
}

ul.sub-menu li:last-child a {
    border-bottom: none;
}
.banner {
    background-image: url(../images/banner.jpg);
    padding: 17em 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner h1 {
    font-size: 70px;
    text-shadow: 0 0 15px #202020;
    color: #fff;
}
.banner h3 {
    font-size: 28px;
    margin-top: 20px;
    font-family: 'hk_grotesklight_legacy';
    color: #fff;
}

.banner h3 a {
    color: #fff;
    pointer-events: none;
}
.site_green_btn a {
    color: #fff;
    background-color: #2ade73;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    display: inline-block;
    margin-top: 30px;
}
.greenbar {
    background-color: #2ade73;
    padding: 12px 0px;
}

.green_p p,.green_p a {
    color: #fff;
    margin: 0;
    font-size: 17px;
}
.title {
    display: inline-block;
    width: 100%;
}
.title h2 {
    margin-bottom: 30px;
    margin-top: 0;
	font-size:36px;
	color:#191919;
}
.padding {
    padding: 3em 0px;
}
#grey {
    background-color: #e1e5e3;
}
.prize {
    position: absolute;
    top: 20px;
	left: 8px;
    background-color: #2ade73;
    color: #fff;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 00px 50px 50px 0px;
}
/* .progess_box .box_img img {
    height: 200px;
}  */
.box_img {
    position: relative;
}
.progess_box img {
    border: 8px solid rgba(153, 153, 153, 0.23921568627450981);
    border-radius: 5px;
}
.sold_out {
    background-color: red;
}
.sold_out:hover {
    background-color: rgba(153, 153, 153, 0.5294117647058824);
}
.box_content h4 {
    font-size: 18px;
    color: #191919;
    text-align: center;
	margin:10px 0px;
}
.progress {
    background-color: #191919;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    /* background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent); */
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar.progress-bar-success.progress-bar-striped {
    background-color: #2ade73;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress {
    height: 15px;
    margin-bottom: 10px;
}
.ticketquantity {
    font-size: 13px;
    color: #191919;	
}
.progress-bar.progress-bar-success.progress-bar-striped {
    height: 15px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress-bar.progress-bar-success.progress-bar-striped {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
#white {
    background-color: rgba(244, 248, 250, 0.4588235294117647);
}
.recent_winner_slider .slick-slide img{margin:0 auto;}
.recent_winner_slider .slick-prev, .recent_winner_slider .slick-next {
    background-color: #2ade73;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 999;
    top: 42%;
}

.recent_winner_slider .slick-prev:before {
    font-family: FontAwesome;
    content: "\f053";
    opacity: 1;
}

.recent_winner_slider .slick-next:before {
    font-family: FontAwesome;
    opacity: 1;
    content: "\f054";
    padding-left: 5px;
}

.recent_winner_slider .slick-next {
    right: -10px;
}

.recent_winner_slider .slick-prev {
    left: -10px;
}

.recent_winner_slider .slick-prev:hover,.recent_winner_slider .slick-prev:focus, .slick-next:hover,.recent_winner_slider .slick-next:focus,.recent_winner_slider .slick-prev:hover,.recent_winner_slider .slick-prev:focus,.recent_winner_slider .slick-next:hover, .slick-next:focus {
    background: #2ade73;
}
.recent_winner_slider .slick-prev, .recent_winner_slider .slick-next {
    display: none !important;
}

.recent_winner_slider:hover .slick-prev, .recent_winner_slider:hover .slick-next {
    display: block !important;
}
#black {
    background-color: #191919;
}

#black h2 {
    color: #fff;
}
.num {
    background-color: #2ade73;
    width: 150px;
    border-radius: 50%;
    font-size: 85px;
    color: #ffffff;
    height: 150px;
    text-align: center;
    border: 6px solid #fff;
    display: inline-block;
    line-height: 140px;
}
.circle h4 {
    color: #fff;
    margin-top: 20px;
	font-size: 18px;
}
.circle .num:after {
    content: "";
    background-image: url(../images/arrow.png);
    width: 87px;
    height: 88px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    top: 40px;
    right: -50px;
}
.circle.last .num:after{display:none;}
.circle h4 a {
    color: #fff;
    text-decoration: underline;
}
#green {
    background-color: #2ade73;
}

.newsletter {
    display: inline-block;
    width: 100%;
}
.green_text button {
    color: #2ade73;
    background-color: #191919;
    padding: 8px 35px;
    margin-top: 20px;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    border-radius: 3px;
    border:0px;
    cursor: pointer;
}
.newsletter input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #191919;
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 50%;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white; 
}
.newsletter input[type="email"]::placeholder {
    font-size: 24px;
    color: #fff;
}
.form-style input:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #2ade73 !important;
}
footer {
    background-color: #191919;
    color: #fff;
    padding: 10px 0px;
}

footer ul li {
    display: inline-block;
    float: left;
    padding: 0px 5px;
}

footer ul {
    float: right;
    margin: 0;
	padding:0px;
}

footer ul li a,footer ul li a:hover {
    color: #fff;
    font-size: 14px;
}

footer p {
    margin: 0;
}
.on-resp {
    display: none;
}
/*About Us*/
.about-page .about-info h2 {
    color: #2ade73;
    font-size: 25px;
}
.about-page .about-info p {
    font-size: 18px;
    color: #191919;
    line-height: 30px;
}
.about-info a {
    color: #2ade73;
}
.about-page h2.mar-btm-about {
    margin-bottom: 3.7em;
	margin-top: 20px;
}
.about-page .founder.margin-btm-founder {
    margin-bottom: 6.1em;
}
.about-page .founder {
    position: relative;
    margin: 0 auto;
    width: 92%;
    margin-left: 89px;
}
.about-page .founder-image {
    position: absolute;
    top: -75px;
    left: -82px;
    border: 8px solid #2ade73;
}
.about-page .founder-text {
    background-color: #191919;
    padding: 20px 80px;
    padding-left: 100px;
    border-radius: 3px;
}
.about-page .founder-text p {
    color: #fff !important;
}
.good_luck {
    display: inline-block;
    width: 100%;
}
.good_luck img {
    margin-bottom: 30px;
}
/*live-raffles*/
.height_vh #white.no_height {
    min-height: inherit !important;
}
.font-24 h2 {
    font-size: 24px;
}
#lightgrey {
    background-color: #eee;
}
.row.mar-top-btm {
    margin: 3em -15px;
}
.green {
    color: #2ade73;
}
.recent_winner_slider.past_winner .slick-prev, .recent_winner_slider.past_winner .slick-next {
    display: block !important;
}
.recent_winner_slider.past_winner .slick-prev, .recent_winner_slider.past_winner .slick-next {
    background-color: #191919;
    top: -67px;
}
.recent_winner_slider.past_winner .slick-prev {
    left: 450px;
}
.recent_winner_slider.past_winner .slick-next {
    right: 450px;
}
.arrow-mar {
    margin: 20px 0px;
}
/*FQAs*/
.card-header {
    border-bottom: none;
    background: transparent;
    margin: 10px 0px;
}

.card {
    border: none;
    background: transparent;
}

.card button.btn.btn-link {
    font-size: 24px!important;
    font-family: 'hk_groteskmedium';
    font-weight: 400;
    line-height: 34px;
    color: #2ade73;
    letter-spacing: 1px;
	padding:0px 12px;
	position:relative;
}
.card button.btn.btn-link:hover,.card button.btn.btn-link:focus{text-decoration:none;}

.card-body {
    padding: 0px 34px;
}
.card .card-header .btn.collapsed:before {
    background: url(../images/toggle-open.png) no-repeat left transparent;
}

.card .card-header .btn:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: -15px;
    background: url(../images/toggle-close.png);
    background-repeat: no-repeat;
}
/*form*/
.form-style {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
}
.form-style input {
    font-family: 'FontAwesome','hk_groteskmedium';
}
.form-style input, .form-style textarea{
    border: 2px solid #2ade73;
    padding: 10px 20px;
    border-radius: 3px;
    width: 100%;
	margin-bottom: 30px;
    background: transparent;
	color:#191919;
}
.form-style input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}
.form-style input::placeholder,.form-style textarea::placeholder {
    color: rgba(153, 153, 153, 0.23921568627450981);
}
.form-style button {
    width: 100%;
    background-color: #2ade73;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}
.form-style button:hover,.form-style button:active{background-color: #2ade73 !important;}
.form-style a:hover {
    color: #2ade73;
}
/*password-reset-email*/
.tick_circle {
    display: inline-block;
    width: 100%;
}
.tick_circle .title h2 {
    margin-bottom: 10px;
}

.tick_circle img {
    margin-bottom: 30px;
}
.tick_circle .site_green_btn a {
    margin-top: 0px;
}
/*My account*/
.my_account {
    width: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 20px 0px;
}

.sidebar ul li a {
    color: #191919;
}

.sidebar ul li a.green {
    color: #2ade73;
}
.display_inline {
    display: inline-block;
    float: left;
}
.part-right_img {
    margin-left: 30px;
}

.part-right_img p {
    margin-bottom: 0px;
}
.border_radius {
    border: 3px solid #2ade73;
    padding: 20px;
    border-radius: 5px;
}
.tab-content .tab-pane .col-md-6 {
    display: inline-block;
    float: left;
}
.nav-tabs.col-md-12 {
    text-align: center;
    float: none;
    margin-bottom: 30px;
    border-bottom: none;
}

.nav-tabs a {
    background-color: #191919;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
}

.nav-tabs li a.active {
    background-color: #2ade73;
}

.nav-tabs li {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.nav-tabs li.active {
    text-align: right;
}

.nav-tabs li:first-child a {
    border-radius: 10px 0px 0px 10px;
    margin-right: 2px;
}

.nav-tabs li:last-child a {
    border-radius: 0px 10px 10px 0px;
}
/*prize*/
p.des-p {
    margin-left: 25px;
    margin-top: 10px;
}
.single-right-side h4 {
    margin-bottom: 30px;
}
#desc {
    background-color: #f1f1f1;
}
.progress_ticket-info {
    display: inline-block;
    width: 100%;
}
.btn-danger, .btn-success, input#quantity, .btn-danger:focus {
    background: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    box-shadow: none !important;
}

.quantity span.input-group-btn i {
    color: #191919;
}

.quantity input#quantity {
    text-align: right;
}
.quantity{
	margin-top:30px;
}
.quantity input#quantity::placeholder {
    color: #191919;
}
/*cart*/
.cart ul {
    list-style: none;
    padding-left: 25px;
}
.cart_price {
    padding-right: 60px;
    margin-top: 32px;
}
.cart_price h5 {
    margin-top: 30px;
}
 span.icon:after {
    content: "\f014";
    color: #b1b1b1;
    font-family: FontAwesome;
    padding-left: 12px;
    position: absolute;
    font-size: 16px;
    margin-top: -3px;
}
.mar-top{margin-top:50px;}
/*height-vh*/
.height_vh #white {
    min-height: 83vh;
}
/*responsive*/
@media(max-width:1199px){
.card button.btn.btn-link {
    white-space: inherit;
    text-align: left;
}	
.item img {
    width: 90%;
}
.recent_winner_slider.past_winner .slick-next {
    right: 370px;
}
.recent_winner_slider.past_winner .slick-prev {
    left: 370px;
}
.circle h4 br {
    display: none;
}
}
@media (max-width:1045px) and (min-width:992px){
.navbar-nav li.nav-item .nav-link {
    margin: 0px 10px;
}
.form-style {
    width: 50%;
}
}
@media(max-width:991px){
.navbar-nav .sub-menu li.nav-item .nav-link:hover {
    color: #191919;
}	
.form-style {
    width: 70%;
}	
ul.sub-menu {
    position: static;
    display: block;
    padding: 0;
}
ul.sub-menu li.nav-item .nav-link {
    margin: 0px;
}
ul.sub-menu li.nav-item {
    background-color: #2ade73;
}	
.on-resp {
    display: block;
}	
li.social-icon {
    display: none;
}
.on-resp a {
    color: #fff;
    margin: 10px 5px 0px 5px !important;
    display: inline-block;
}
.banner {
    background-image: url(../images/banner.jpg);
    padding: 10em 0px;
}
.navbar-dark .navbar-toggler {
    border: none;
}
ul.nav.navbar-nav.ml-auto {
    text-align: center;
}

div#collapsibleNavbar {
    background-color: #191919;
    padding: 10px 0px;
}

.nav-item {
    margin: 5px 0px;
}

a.nav-link {
    border-bottom: 1px solid #565656;
}
.num {
    position: relative;
}

.circle .num:after {
    top: 201px;
    right: 27px;
    transform: rotate(90deg);
}

#black .col-md-3.col-sm-6.col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.circle {
    margin-bottom: 115px !important;
    width: 50%;
    margin: 0 auto;
}
.col-md-3.col-sm-6.col-xs-12:nth-child(4) .circle .num:after {top: 220px;}

.col-md-3.col-sm-6.col-xs-12:last-child .circle {
    margin-bottom: 0px !important;
}
.recent_winner_slider.past_winner .slick-next {
    right: 250px;
}
.recent_winner_slider.past_winner .slick-prev {
    left: 250px;
}
}
@media (max-width:767px){
	.nextModal {
    top: 10%;
    width: 80%;
    left: 10%;
    max-height: 700px;
}
div#accordion {
    padding: 0px 20px;
}	
div#collapsibleNavbar {
    height: 250px !important;
    overflow-x: scroll;
}	
	.col-md-3.col-sm-6.col-xs-12:nth-child(4) .circle .num:after {
    top: 240px;
}
.col-md-3.col-sm-6.col-xs-12:nth-child(3) .circle .num:after {
    top: 220px;
}
.about-page .founder-text {
    padding: 20px 30px!important;
}
.about-page .founder.margin-btm-founder {
    margin-bottom: 11em;
}
.founder {
    margin-top: 40px!important;
    width: 100% !important;
    margin-left: 0px !important;
}
.about-page .founder-image {
    left: 46px;
    top: -140px;
}
.about-page h2.mar-btm-about {
    margin-bottom: 7em;
}
.about-page .about-info h2 {
    margin-top: 25px;
}
.recent_winner_slider.past_winner .slick-next {
    right: 150px;
}
.recent_winner_slider.past_winner .slick-prev {
    left: 150px;
}
}
@media(max-width:575px){
.progess_box .box_img {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
footer {
    text-align: center;
}
footer ul {
    float: none;
    display: inline-block;
}
.circle {
    width: 70%;
}
.newsletter input[type="text"] {
    width: 75%;
}
.font-24 {
    text-align: center !important;
}
}
@media(max-width:480px){
.recent_winner_slider.past_winner .slick-next {
    right: 50px;
}
.recent_winner_slider.past_winner .slick-prev {
    left: 50px;
}
}